/* ============================================================
   FONTES SIG – PPSIGFlow Regular e SemiBold
   ============================================================ */

/* REGULAR */
@font-face {
    font-family: 'PPSIGFlow';
    src: url('fonts/PPSIGFlow-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* SEMIBOLD (BOLD) */
@font-face {
    font-family: 'PPSIGFlow';
    src: url('fonts/PPSIGFlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Aplicação global */
body, html, * {
    font-family: 'PPSIGFlow', sans-serif !important;
}
