/* ===========================
   FONTES SIG – PP SIG Flow
=========================== */

@font-face {
    font-family: 'PPSIGFlow';
    src: url('fonts/PPSIGFlow-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PPSIGFlow';
    src: url('fonts/PPSIGFlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body, * {
    font-family: "PPSIGFlow", sans-serif !important;
}
