/* ÍCONES NAS OPÇÕES DO MENU */
[data-testid="stSidebarNavLink"] span:first-child::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Ícones por item */
[data-testid="stSidebarNavLink"] span:has(span:contains("Job Architecture"))::before {
    background-image: url("https://github.com/alexandrejs13/job_architecture/raw/main/assets/icons/governance.png");
}
[data-testid="stSidebarNavLink"] span:has(span:contains("Job Families"))::before {
    background-image: url("https://github.com/alexandrejs13/job_architecture/raw/main/assets/icons/people.png");
}
[data-testid="stSidebarNavLink"] span:has(span:contains("Job Profile Description"))::before {
    background-image: url("https://github.com/alexandrejs13/job_architecture/raw/main/assets/icons/business.png");
}
[data-testid="stSidebarNavLink"] span:has(span:contains("Job Maps"))::before {
    background-image: url("https://github.com/alexandrejs13/job_architecture/raw/main/assets/icons/globe.png");
}
[data-testid="stSidebarNavLink"] span:has(span:contains("Job Match"))::before {
    background-image: url("https://github.com/alexandrejs13/job_architecture/raw/main/assets/icons/checkmark.png");
}
[data-testid="stSidebarNavLink"] span:has(span:contains("Structure Level"))::before {
    background-image: url("https://github.com/alexandrejs13/job_architecture/raw/main/assets/icons/process.png");
}
