/* ======== SIDEBAR SIG ======== */

section[data-testid="stSidebar"] {
    background-color: #f2efeb !important; /* SIG Sand 1 */
}

/* Remove bordas internas */
section[data-testid="stSidebar"] > div:first-child {
    padding-top: 0 !important;
}

/* Deixa a sidebar consistente */
section[data-testid="stSidebar"] {
    min-width: 280px !important;
    width: 280px !important;
}

/* Ajuste do menu nativo */
nav[aria-label="Sidebar"] {
    margin-top: 10px !important;
}
