/* ======== SIG CONTENT LAYOUT ======== */

div.block-container {
    max-width: 1080px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Mobile adjustments */
@media (max-width: 768px) {
    div.block-container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        max-width: 100% !important;
    }
}
