/* ======== SIG GLOBAL THEME ======== */

/* Página branca */
[data-testid="stAppViewContainer"] {
    background-color: #ffffff !important;
}

/* Títulos SIG */
.sig-title {
    background-color: #145efc;
    padding: 14px 20px;
    border-radius: 8px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 22px;
    margin-top: 10px;
}

.sig-title img {
    width: 22px;
}

/* Containers SIG */
.sig-card {
    background-color: #ffffff;
    border: 1px solid #e5dfd9;
    border-radius: 8px;
    padding: 18px 24px;
    margin-bottom: 20px;
}

/* Botão SIG */
.stButton>button {
    background-color: #145efc !important;
    color: white !important;
    border-radius: 6px !important;
    padding: 10px 18px !important;
    border: none !important;
}

.stButton>button:hover {
    background-color: #0f4cd4 !important;
}
