/* TITLES */
h1, h2, h3, h4 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: #000;
}

/* CARDS */
.sig-card {
    background: #f2f0ed;
    border-radius: 18px;
    padding: 22px;
    border-left: 5px solid #145efc;
    height: 100%;
}
